html, body {
	height: 100%;
}

div.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

h1, h2, h3, h4, p, a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3A3B48;
}

h1 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.1;
	padding-bottom: 2rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #F6F6F6;
	margin-bottom: 0;
}

a.links {
	color: #5F68FF
}

a.links:hover {
	text-decoration: none;
	color: #1A1FFF;
	font-weight: 600;
}

a.cta {
	background-color: #984DFF;
	color: #FFF;
	border-radius: 2rem;
	height: 100%;
	margin: 2rem 0;
	padding: .7rem 3rem;
	background: rgb(88,108,255);
	background: -webkit-linear-gradient(40deg, rgba(88,108,255,1) 0%, rgba(152,77,255,1) 100%);
	background: -o-linear-gradient(40deg, rgba(88,108,255,1) 0%, rgba(152,77,255,1) 100%);
	background: linear-gradient(130deg, rgba(88,108,255,1) 0%, rgba(152,77,255,1) 100%);
	transition: all 0.3s ease;
}

a.cta:hover {
	-webkit-transform: translateZ(50px) translateY(-12px);
  	transform: translateZ(50px) translateY(-12px);
	box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.75);
	color: #FFF;  
}

.btn-primary.amend {
	background-color: none;
	border-color: none;
}

.case-study {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;
	color: #FFF;
	opacity: .6;
}

.case-study:hover {
	color: #FFF;
	opacity: 1;
}

div.modal-content {
	background-color: #F8F8F8;
}

div.modal-dialog {
	max-width: 75%;
}

div.modal-body img {
	max-width: 100%;
}

div.modal-body p {
	color: #3A3B48 !important; 
	opacity: 1 !important;
	padding: 2.5rem 0 0 2.5rem;
	margin-bottom: 0;
}

div.col-md-4 {
	z-index: 10;
}

div.info-side {
	background-image: url(images/background-elements/wavy-blob.svg);
	background-position: bottom center;
	background-repeat: no-repeat; 
	-webkit-box-shadow: 12px 0 66px rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 12px 0 66px rgba(0, 0, 0, 0.25); 
	box-shadow: 12px 0 66px rgba(0, 0, 0, 0.25);  
	background-color: #FDFDFD;
	height: 100%;
	padding: 4.5rem;
}

div.info-side p:nth-of-type(2) {
	margin-bottom: 5rem;
}

img.logo {
	width: 40%;
	margin: 0 0 4.5rem 0;
}

div.portfolio-side img {
	padding: 2.5rem;
}

.svg-ds {
	-webkit-filter: drop-shadow(0 14px 16px rgba(0,0,0,0.3));
  filter: drop-shadow(0 14px 16px rgba(0,0,0,0.3));
}

.svg-ds-darker {
	-webkit-filter: drop-shadow(0 14px 16px rgba(0,0,0,0.5));
  filter: drop-shadow(0 14px 16px rgba(0,0,0,0.5));
}

div.portfolio-side p {
	font-size: 1.2rem;
	font-weight: 700;
	color: #FFF;
	opacity: .6;
}

div.project {
	padding: 2.8rem;
	background-position: top left, bottom right;
	background-repeat: no-repeat;
}

div.project.p1 {
	background-image: url(images/background-elements/swirls-outline.svg), url(images/background-elements/swirls-filled.svg);
	background-size: 40%, 70%;
	background-color: #6171EB;
}

div.project.p2 {
	background-image: url(images/background-elements/mini-blobs-blue-tl.svg), url(images/background-elements/mini-blobs-blue-br.svg);
	background-size: 20%, 22%;
	background-color: #2C2E31;
}

div.project.p3 {
	background-image: url(images/background-elements/tri-pattern.svg), url(images/background-elements/tri-pattern-2.svg);
	background-size: 28%, 40%;
	background-color: #77E293;
}

div.project.p4 {
	background-image: url(images/background-elements/wavy-tl.svg), url(images/background-elements/wavy-br.svg);
	background-size: 35%, 30%;
	background-color: #3571D4;
}

div.project.p5 {
	background-image: url(images/background-elements/shapes-tl.svg), url(images/background-elements/shapes-br.svg);
	background-size: 30%, 30%;
	background-color: #FA6C60;
}

div.project.p6 {
	background-image: url(images/background-elements/boashape-tl.svg), url(images/background-elements/boashape-br.svg);
	background-size: 52%, 46%;
	background-color: #F55050;
}

div.project.p7 {
	background-image: url(images/background-elements/tri-pattern.svg), url(images/background-elements/tri-pattern-2.svg);
	background-size: 28%, 40%;
	background-color: #2F2F2F;
}

div.project.p8, div.project.p9 {
	background-image: url(images/background-elements/wavy-tl-2.svg), url(images/background-elements/wavy-br-2.svg);
	background-size: 35%, 30%;
	background-color: #F0F1F2;
}

div.project.p10 {
	background-image: url(images/background-elements/circle-tl.svg), url(images/background-elements/circle-br.svg);
	background-size: 30%, 40%;
	background-color: #E69057;
}

div.project.p11 {
	background-image: url(images/background-elements/squares-tl.svg), url(images/background-elements/squares-br.svg);
	background-size: 74%, 9%;
	background-color: #8DBEFF;
}

div.project.p12 {
	background-image: url(images/background-elements/cs-shape-tl.svg), url(images/background-elements/cs-shape-br.svg);
	background-size: 54%, 50%;
	background-color: #31363d;
}

div.project.p13 {
	background-image: url(images/background-elements/asdf.svg), url(images/background-elements/asdf.svg);
	background-size: 54%, 50%;
	background-color: #31363d;
}

div.project.p8 h2, div.project.p8 p, div.project.p8 a,
div.project.p9 h2, div.project.p9 p, div.project.p9 a {
	color: #3a3b48;
}

div.project.p1 img,
div.project.p6 img {
	width: 40%;
}

div.project.p10 img,
div.project.p11 img {
	width: 74%;
}

div.project.p2 img,
div.project.p3 img,
div.project.p4 img,
div.project.p5 img,
div.project.p12 img,
div.project.p13 img {
	width: 80%;
}


/**   Media Queries   **/


@media (min-width: 767.98px) { 
	div.col-md-8.scrollable {
		overflow: scroll;
		overflow-x: hidden;
		max-height: 100vh;
	}
}

@media (max-width: 767.98px) { 
	div.project.p1 img,
	div.project.p6 img,
	div.project.p9 img,
	div.project.p10 img,
	div.project.p11 img {
		width: 100%;
	}
	
	div.project.p2 img,
	div.project.p3 img,
	div.project.p4 img,
	div.project.p5 img {
		width: 100%;
	}

	div.portfolio-side img {
		padding: 2.5rem 0;
	}

	div.project.p1 {
		background-size: 65%, 100%;
	}

	div.project.p2 {
		background-size: 30%, 40%;
	}

	div.project.p3 {
		background-size: 38%, 56%;
	}

	div.project.p4 {
		background-size: 50%, 45%;
	}

	div.project.p5 {
		background-size: 36%, 40%;
	}

	div.project.p6 {
		background-size: 80%, 60%;
	}

	div.project.p7 {
		background-size: 38%, 56%;
	}

	div.project.p8 {
		background-size: 38%, 56%;
	}
}


/**   Animation Stuff   **/

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1s both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    		  opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    		  opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    		  opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    		  opacity: 1;
  }
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
	        animation: slide-left 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
}

@-webkit-keyframes slide-left {
  0% {
  	opacity: 0;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  100% {
  	opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
  	opacity: 0;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  100% {
  	opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
	        animation: slide-right 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
}

@-webkit-keyframes slide-right {
  0% {
  	opacity: 0;
    -webkit-transform: translateX(-35px);
            transform: translateX(-35px);
  }
  100% {
  	opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
  	opacity: 0;
    -webkit-transform: translateX(-35px);
            transform: translateX(-35px);
  }
  100% {
  	opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}








